<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %> — Photography and Art portfolio by Michal Huniewicz</title>
  <meta name="description" content="<%= title %> — Photography and Art portfolio by Michal Huniewicz" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@800;900&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../../styles/base_responsive.css" />
  <link rel="icon" href="../../images/icon.ico" />

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title %> by Michal Huniewicz" />
  <meta property="og:description" content="<%= title %> — Photography and Art portfolio by Michal Huniewicz" />
  <meta property="og:url" content="https://www.m1key.me/" />
  <meta property="og:image" content="https://www.m1key.me/photography/<%= slug %>/<%= slug %>_01.jpg" />
  <meta property="og:image:alt" content="<%= title %> by Michal Huniewicz" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= title %> by Michal Huniewicz" />
  <meta name="twitter:description" content="<%= title %> — Photography and Art portfolio by Michal Huniewicz" />
  <meta name="twitter:image" content="https://www.m1key.me/photography/<%= slug %>/<%= slug %>_01.jpg" />

  <!-- Breadcrumb structured data for SEO -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ImageGallery",
    "name": "<%= title %> by Michal Huniewicz",
    "url": "https://www.m1key.me/photography/<%= slug %>",
    "author": {
      "@type": "Person",
      "name": "Michal Huniewicz"
    },
	"image": [
	  {
	    "@type": "ImageObject",
	    "contentUrl" : "https://www.m1key.me/photography/<%= slug %>/<%= slug %>_01.jpg",
	    "caption": "<%= title %>"
	  }
	],
    "description": ""<%= title %> — Photography and Art portfolio by Michal Huniewicz"
  }
  </script>
</head>

<body>

<div id="biggerContainer">
	<div class="navigation">
		<a href="../">&lt; Back to Photography</a><br />
		<a href="../../">&lt; &lt; Back to M1key.me</a>
	</div>

	<h1><%= title %> Photography - M1key - Michal Huniewicz</h1>
	<img src="<%= slug %>_title.jpg" alt="<%= title %> by Michal Huniewicz" id="homepageImage" />
	<div class="information">
<%= description -%>
		<p class="smallprint">
			<a name="sources">Sources</a>:<% sources.each_with_index do |source, index| %>
			<a href="<%= source %>"><%= index + 1 %></a><% if (index + 1) < sources.size %>,<% else %>.<% end -%>
			<% end %><% if small_print.to_s != '' %>
			<br />
			<%= small_print -%><% end %>
			<br />
			Uploaded on: <%= upload_date %>.
		</p>
	</div>
	<div class="map">
		<a href="<%= map_url %>">
			<img src="<%= slug %>_map.png" alt="<%= map_title %>" title="<%= map_title %>" /></a>
	</div>

	<% photos.each do |photo| %>
	<h2><%= photo.title %></h2>
	<div class="photo">
		<div class="title">
			<a name="<%= photo.id %>" href="#<%= photo.id %>" title="Link to this photo"><strong><%= photo.title %></strong></a>
		</div>
		<div style="height: <%= photo.metadata.height %>px" class="imageContainer">
			<img src="<%= slug %>_<%= photo.id %>.jpg" alt="<%= photo.title %>" />
		</div>
		<div class="description">
<%= photo.description %>
		</div>
		<div class="technical">
			ISO <%= photo.metadata.iso %>, <%= photo.metadata.focal_length %>mm, f/<%= photo.metadata.f_number %>, <%= photo.metadata.exposure_time %>s. <%= photo.technical_info %>
		</div>
	</div>
	<% end %>
	
	<div class="navigation">
		<a href="../">&lt; Back to Photography</a><br />
		<a href="../../">&lt; &lt; Back to M1key.me</a>
	</div>
	<div id="footer">
		<hr />
		<a href="https://www.m1key.me">M1key.me</a> -
		<a href="../../photography/">Photography</a> -
		<a href="https://www.flickr.com/photos/m1key-me/">Flickr</a> -
		<a href="../../about_me/">About me</a><br />
		&copy;2010–<%= year %> Michal Huniewicz, www.m1key.me
	</div>
</div>

</body>
</html>

